/* хеадер */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Lato", "Bold", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  height: 89px;
  background: #2d303a;
  color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #323746;
  border-bottom-width: 6px;
}
header h1 {
  font-size: 25px;
}
header nav {
  display: inline-block;
  font-size: 12px;
}
header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.NAV-HOME {
    color: #f06c64;
}

/* хеадер */
/* слайды */
.page {
  display: inline-block;
  margin: 0;
  width:1366px;

}
.wrapper {
    display: block;
}
.content {
display: flex;
  background-color: #f06c64;
  height: 600px;
}
.imgPV {
    display: block;
  height:483px;
  width: 240px;  
  margin-left:276px;
  margin-right:74px;
  margin-top:53px;
}
.imgPH {
    display: block;
  height:240px;
  width: 484px;
  margin-top:174px;
  
}
/* слайды */
.services {
    height: 503px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  background-color: #f2f2f2;
 
  
}
.text {
    margin-top: 39px;
    margin-left: 202px;
    font-family: "Lato", "Bold", sans-serif;
    color:#666d89;
    line-height:30px;
    padding-right:142px;
    font-weight:  900px;
}
.h2 {
    font-family: "Lato", "Bold", sans-serif;
    font-weight:  900px;
}
.p {
    display: flex;
    font-family: "Lato", "Bold", sans-serif;
    font-size:18px;
    line-height:30px;
    color:#767e9e;
    
    
}
.icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:10px;
    margin-left:-80px;
    
}
.pen {
    padding:20px 10px;
}
.Bulb {
    padding:20px 10px;
}
.Heart {
    padding:20px 10px;
}
.Phone {
    padding:20px 10px;
}
.Bubble {
    padding:20px 10px;
}
.Star {
    padding:20px 10px;
}